.job:
  stage: test
  script:
    - echo $CI_JOB_NAME

job1:
  extends: .job
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/aquasec/trivy:0.39.1

job5:
  extends: .job
  image: quay.io/keycloak/keycloak:21.0.1
